* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif; /* Example font */
}

html{
  background: #000;
  color: whitesmoke;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.note{
  background-color: grey;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
}

.noteForm{
  padding: 1rem;
  display: flex; 
  gap: 1rem;
}