
@mixin formColumn($gap:0rem){
    display: flex;
    flex-direction: column;
    gap : $gap
}


main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .form-container{
        @include formColumn(1.5rem);
        width: 350px;
         

        form{
            width: 100%;
            @include formColumn(1rem);

            input{
                outline: none;
                border: none;
                padding-inline: 1.2rem;
                padding-block: .7rem;
                border-radius: 1rem;
            }
        }
    }


}